In [ ]:
# (Q1). How-to-count-distance-to-the-previous-zero
# For each value, count the difference of the distance from the previous zero (or the start of the Series, whichever is closer)
# and if there are no previous zeros,print the position
# Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
# The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.
# import pandas as pd
# df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [1]:
import pandas as pd

s = pd.Series([7, 2, 0, 3, 4, 2, 5, 0, 3, 4])
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
df['Y']=(s.groupby(s.eq(0).cumsum().mask(s.eq(0))).cumcount() + 1).mask(s.eq(0), 0).tolist()

In [2]:
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [ ]:
#==================================================================================================================
# (Q2). Create a DatetimeIndex that contains each business day of 2015 and use it to index a series of random numbers.
#==================================================================================================================

In [3]:
import pandas as pd
s = pd.Series({"2015-01-08":1,"2015-01-15":2,"2015-01-16":3,"2015-01-23":3})

In [4]:
s.index = pd.DatetimeIndex(s.index)
bd = pd.bdate_range('2015-01-01', '2015-01-31')
s = s.reindex(bd)

In [5]:
bd

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14', '2015-01-15', '2015-01-16',
               '2015-01-19', '2015-01-20', '2015-01-21', '2015-01-22',
               '2015-01-23', '2015-01-26', '2015-01-27', '2015-01-28',
               '2015-01-29', '2015-01-30'],
              dtype='datetime64[ns]', freq='B')

In [ ]:
#==============================================================================
# (Q3). Find the sum of the values in s for every Wednesday
#==============================================================================

In [6]:
from datetime import date, timedelta

def get_all_dates_of_day_of_week_in_year(day_of_week, start_year, start_month,start_day, max_weeks=None):
  
    if day_of_week < 0 or day_of_week > 6:
        raise ValueError('day_of_week should be in [0, 6]')

    date_iter = date(start_year, start_month, start_day)

    # First desired day_of_week
    date_iter += timedelta(days=(day_of_week - date_iter.weekday() + 7) % 7) 
    week = 1
    while date_iter.year == start_year:
        yield date_iter
        date_iter += timedelta(days=7)
        if max_weeks is not None:
            week += 1
            if week > max_weeks:
                break

In [7]:
import calendar
day_of_week = 2
max_weeks = 10
for d in get_all_dates_of_day_of_week_in_year (day_of_week, 2018, 1, 1, max_weeks):
    print ("%s, %d/%d/%d" % (calendar.day_name[d.weekday()], d.year, d.month, d.day))

Wednesday, 2018/1/3
Wednesday, 2018/1/10
Wednesday, 2018/1/17
Wednesday, 2018/1/24
Wednesday, 2018/1/31
Wednesday, 2018/2/7
Wednesday, 2018/2/14
Wednesday, 2018/2/21
Wednesday, 2018/2/28
Wednesday, 2018/3/7

In [ ]:
#==============================================================================
#4. Average for each calendar month
#==============================================================================

In [8]:
import pandas as pd
import datetime
import numpy as np

# Create a datetime variable for today
base = datetime.datetime.today()
# Create a list variable that creates 365 days of rows of datetime values
date_list = [base - datetime.timedelta(days=x) for x in range(0, 365)]
# Create a list variable of 365 numeric values
score_list = list(np.random.randint(low=1, high=1000, size=365))
# Create an empty dataframe
df = pd.DataFrame()

In [9]:
# Create a column from the datetime variable
df['datetime'] = date_list
# Convert that column into a datetime datatype
df['datetime'] = pd.to_datetime(df['datetime'])
# Set the datetime column as the index
df.index = df['datetime'] 
# Create a column from the numeric score variable
df['score'] = score_list
# Group the data by month, and take the mean for each group (i.e. each month)
df.resample('M').mean()
# Group the data by month, and take the sum for each group (i.e. each month)
df.resample('M').sum()

            score
datetime
2017-08-31  12707
2017-09-30  16755
2017-10-31  16608
2017-11-30  14092
2017-12-31  17049
2018-01-31  13631
2018-02-28  12273
2018-03-31  16118
2018-04-30  16311
2018-05-31  16820
2018-06-30  14206
2018-07-31  17384
2018-08-31   6291

In [ ]:
#==============================================================================
#5. For each group of four consecutive calendar months in s, find the date on which the highest value occurred.
#==============================================================================

In [10]:
from pandas import DataFrame
from datetime import datetime,date

#create a dummy dataframe
values = []
for mo in range(1,13):
    row = {}
    row["date"]=date(2018,mo,1)
    row["val"]=5+0.1*mo
    values.append(row)
df = DataFrame(values)

In [11]:
#create a column which can be ordered and is unique for 
#every group of successive 4 month
#if more than one year is to be considered the lambda function
#should cover this as well
df["quadmester"]=df["date"].apply(lambda x: (x.month-1)/4)

In [12]:
#sort by the added column and then by value
#since the date for which top value in 4 consecutive month is considered, sort descending on values
df = df.sort_values(by=["quadmester","val"],ascending=[1,0])

In [13]:
#show the dataframe
print (df)

          date  val  quadmester
0   2018-01-01  5.1        0.00
1   2018-02-01  5.2        0.25
2   2018-03-01  5.3        0.50
3   2018-04-01  5.4        0.75
4   2018-05-01  5.5        1.00
5   2018-06-01  5.6        1.25
6   2018-07-01  5.7        1.50
7   2018-08-01  5.8        1.75
8   2018-09-01  5.9        2.00
9   2018-10-01  6.0        2.25
10  2018-11-01  6.1        2.50
11  2018-12-01  6.2        2.75